*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-y: scroll !important;
  padding: 0 !important; */
  background-color: #0E0C15

}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
