@font-face {
  font-family: Dana-Regular;
  src: url(../public/assets/fonts/Dana/Dana-FaNum-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Dana-Light;
  src: url(../public/assets/fonts/Dana/Dana-FaNum-Light.ttf);
  /* font-weight: 200; */
}
@font-face {
  font-family: Dana-ExtraLight;
  src: url(../public/assets/fonts/Dana/Dana-FaNum-ExtraLight.ttf);
  /* font-weight: 200; */
}
@font-face {
  font-family: Dana-Thin;
  src: url(../public/assets/fonts/Dana/Dana-FaNum-Thin.ttf);
  /* font-weight: 200; */
}
@font-face {
  font-family: Dana-Bold;
  src: url(../public/assets/fonts/Dana/Dana-FaNum-Bold.ttf);
  /* font-weight: 200; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
